[submodule "meta-xilinx"]
	path = meta-xilinx
	url = https://github.com/Xilinx/meta-xilinx.git
[submodule "poky"]
	path = poky
	url = https://github.com/peteasa/poky.git
[submodule "meta-epiphany"]
	path = meta-epiphany
	url = https://github.com/peteasa/meta-epiphany.git
[submodule "meta-parallella"]
	path = meta-parallella
	url = https://github.com/peteasa/meta-parallella
[submodule "meta-exotic"]
	path = meta-exotic
	url = https://github.com/peteasa/meta-exotic.git
[submodule "meta-example"]
	path = meta-example
	url = https://github.com/peteasa/meta-example.git
