[submodule "meta-xilinx"]
	path = meta-xilinx
	url = https://github.com/Xilinx/meta-xilinx.git
[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky.git
[submodule "meta-epiphany"]
	path = meta-epiphany
	url = https://github.com/peteasa/meta-epiphany.git
[submodule "meta-parallella"]
	path = meta-parallella
	url = https://github.com/peteasa/meta-parallella
